<ng-container class="spinner-container" *ngIf="isLoading">
  <mat-spinner class="loading-spinner"></mat-spinner>
</ng-container>

<ng-container *ngIf="!isLoading">
  <form [formGroup]="recipeForm">
    <mat-form-field class="mat-form-field" appearance="outline">
      <mat-label class="mat-label">Title</mat-label>
      <input matInput type="text" formControlName="title" required />
      <mat-error
        class="mat-error"
        *ngIf="recipeForm.get('title')!.hasError('required')"
      >
        Title is required
      </mat-error>
    </mat-form-field>

    <mat-form-field class="mat-form-field" appearance="outline">
      <mat-label class="mat-label">Description</mat-label>
      <input matInput type="text" formControlName="description" required />
      <mat-error
        class="mat-error"
        *ngIf="recipeForm.get('description')!.hasError('required')"
      >
        Description is required
      </mat-error>
    </mat-form-field>

    <div class="form-field">
      <img *ngIf="imagePreviewUrl" [src]="imagePreviewUrl" alt="Image Preview" class="image-preview" />
      <label class="image-upload-label">
        <input
          multiple
          type="file"
          formControlName="imagePath"
          required
          (change)="onImageSelected($event)"
        />
        Choose Image
      </label>
      <mat-error
        class="mat-error"
        *ngIf="recipeForm.get('imagePath')!.hasError('required')"
      >
        Image is required
      </mat-error>
    </div>

    <mat-form-field class="mat-form-field" appearance="outline">
      <mat-label class="mat-label">Ingredients</mat-label>
      <textarea
        matInput
        type="text"
        formControlName="ingredients"
        required
        style="height: 200px"
      ></textarea>
      <mat-error
        class="mat-error"
        *ngIf="recipeForm.get('ingredients')!.hasError('required')"
      >
        Ingredients are required
      </mat-error>
    </mat-form-field>

    <mat-form-field class="mat-form-field" appearance="outline">
      <mat-label class="mat-label">Instructions</mat-label>
      <textarea
        matInput
        type="text"
        formControlName="instructions"
        required
        style="height: 200px"
      ></textarea>
      <mat-error
        class="mat-error"
        *ngIf="recipeForm.get('instructions')!.hasError('required')"
      >
        Instructions are required
      </mat-error>      
    </mat-form-field>

    <mat-form-field class="mat-form-field" appearance="outline">
      <mat-label class="mat-label">Tags</mat-label>
      <mat-chip-grid class="mat-chip-grid" #chipListbox>
        <mat-chip-option
          *ngFor="let tag of selectedTags"
          [selected]="true"
          (removed)="removeTag(tag)"
          class="mat-chip-option"
        >
          {{tag}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip-option>
        <input
          class="mat-chip-input"
          placeholder="New tag..."
          formControlName="tags"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipListbox"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="addTag($event)"
          #tagInput
        />
      </mat-chip-grid>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectTag($event, tagInput)">
        <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
          {{tag}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <div class="form-actions">
      <button mat-button (click)="addRecipe()" type="submit">
        Create Recipe
      </button>
    </div>
  </form>
</ng-container>
