<div class="background-gradient-container" *ngIf="user">
  <mat-toolbar class="navbar">
    <img src="logo.png" alt="Recipes Master" />
    <span class="spacer"></span>
    <mat-form-field class="searchbar" appearance="fill">
      <mat-label class="mat-label">Search</mat-label>
      <input
        type="text"
        matInput
        [(ngModel)]="searchValue"
        (ngModelChange)="filterRecipes(searchValue)"
      />
    </mat-form-field>
  </mat-toolbar>

  <div class="main-content">
    <div class="side-nav">
      <a mat-list-item routerLink="/home" routerLinkActive="active">
        <mat-icon matListIcon>home</mat-icon>
        <span matLine>Home</span>
      </a>
      <a mat-list-item routerLink="/favorites" routerLinkActive="active">
        <mat-icon matListIcon>favorite</mat-icon>
        <span matLine>Favorites</span>
      </a>

      <a mat-list-item [routerLink]="['/profile', user.username]">
        <mat-icon matListIcon>person</mat-icon>
        <span matLine>Profile</span>
      </a>
      <a mat-list-item (click)="signOut()">
        <mat-icon matListIcon>exit_to_app</mat-icon>
        <span matLine>Sign Out</span>
      </a>
    </div>

    <div class="content">
      <div class="recipe-list-container">
        <div class="post-recipe-container">
          <button
            mat-raised-button
            (click)="toCreateRecipe()"
            color="primary"
            class="post-button"
          >
            +
          </button>
        </div>

        <div class="recipe-list">
          <app-card
            *ngFor="let recipe of filteredRecipes"
            [id]="recipe.id"
            [name]="recipe.name"
            [imageUrl]="recipe.imageUrl"
            [description]="recipe.description"
            [ingredients]="recipe.ingredients"
            [instructions]="recipe.instructions"
            [tags]="recipe.tags"
            [upvotes]="recipe.upvotes"
            [downvotes]="recipe.downvotes"
            [bookmarkedBy]="recipe.bookmarkedBy"
            [user]="recipe.user"
            [loggedInUser]="user"
            (navigate)="toDetails($event)"
          >
          </app-card>
        </div>

        <mat-paginator class="custom-paginator" [length]="totalRecipes" [pageSize]="50" (page)="pageChanged($event)"></mat-paginator>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
