<div class="background-gradient-container" *ngIf="user">
  <mat-toolbar class="navbar">
    <button
      mat-icon-button
      class="icon"
      aria-label="Example icon-button with menu icon"
      (click)="drawer.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <img src="logo.png" alt="Recipes Master" />
    <span class="spacer"></span>
    <mat-form-field class="searchbar" appearance="fill">
      <mat-label class="mat-label">Search</mat-label>
      <input
        type="text"
        matInput
        [(ngModel)]="searchValue"
        (ngModelChange)="filterRecipes()"
      />
    </mat-form-field>
  </mat-toolbar>

  <mat-drawer-container class="drawer-container" autosize>
    <mat-drawer #drawer class="drawer" mode="side" opened>
      <a mat-list-item routerLink="/home" routerLinkActive="active">
        <mat-icon matListIcon>home</mat-icon>
        <span matLine>Home</span>
      </a>
      <a mat-list-item routerLink="/favorites" routerLinkActive="active">
        <mat-icon matListIcon>favorite</mat-icon>
        <span matLine>Favorites</span>
      </a>

      <a mat-list-item routerLink="/profile">
        <mat-icon matListIcon>person</mat-icon>
        <span matLine>Profile</span>
      </a>
      <a mat-list-item (click)="signOut()">
        <mat-icon matListIcon>exit_to_app</mat-icon>
        <span matLine>Sign Out</span>
      </a>
    </mat-drawer>

    <mat-drawer-content class="mat-drawer-content">
      <div class="background-gradient-container"></div>
      <div class="recipe-list-container">
        <div class="post-recipe-container">
          <button
            mat-raised-button
            (click)="toCreateRecipe()"
            color="primary"
            class="post-button"
          >
            +
          </button>
        </div>

        <h1>Welcome, {{ user.username }}</h1>

        <div class="recipe-list">
          <app-card
            *ngFor="let recipe of filteredRecipes"
            [id]="recipe.id"
            [name]="recipe.name"
            [imageUrl]="recipe.imageUrl"
            [description]="recipe.description"
            [ingredients]="recipe.ingredients"
            [instructions]="recipe.instructions"
            [upvotes]="recipe.upvotes"
            [downvotes]="recipe.downvotes"
            [user]="recipe.user"
            [loggedInUser]="user"
            (navigate)="toDetails($event)"
          >
          </app-card>
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>

<router-outlet></router-outlet>
