<div class="background-gradient-container"></div>
<app-navbar></app-navbar>
<div class="recipe-list-container">
  <div class="post-recipe-container">
    <button mat-raised-button (click)="toCreateRecipe()" color="primary">
      Post a Recipe
    </button>
  </div>

  <div class="recipe-list">
    <app-card
      *ngFor="let recipe of recipes"
      [name]="recipe.name"
      [imageUrl]="recipe.imageUrl"
      [description]="recipe.description"
      [ingredients]="recipe.ingredients"
      [instructions]="recipe.instructions"
    >
    </app-card>
  </div>
</div>
