.side-nav
  width: 200px
  display: flex
  flex-direction: column
  align-items: flex-start
  justify-content: flex-start
  border-right: 4px solid #FF8C00
  padding-top: 1rem
  position: fixed
  top: 80px
  bottom: 0
  overflow: hidden
  background: transparent

  a
    width: 100%
    display: flex
    align-items: center
    padding: 1rem
    text-decoration: none
    color: #333
    cursor: pointer
    justify-content: flex-start

    &:hover
      background-color: rgba(0, 0, 0, 0.05)

    &.active
      background-color: #ddd

    .mat-icon
      margin-right: 1rem

.side-nav a:last-child
  cursor: pointer

.background-gradient-container
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: #FFF8E1
  z-index: -1

.navbar
  display: flex
  align-items: center
  background: linear-gradient(to right, #ff884d, #ff944d, #ffb24d, #ffbc57)
  height: 80px

  .mat-label
    color: #000

  input[type="text"]
    color: #000

    .mat-error
      color: #ff5733
      font-size: 12px

  img
    margin: 0 16px
    width: 7%
    object-fit: fill

  .searchbar
    width: 30%
    margin-left: 16px
    margin-top: 15px

  .spacer
    flex: 1 1 auto

.main-content
  display: flex
  height: calc(100vh - 80px)
  overflow: hidden

.content
  margin-left: 200px
  padding: 2rem
  overflow-y: auto
  height: calc(100vh - 80px)

.recipe-list-container
  padding: 2rem

.recipe-list
  display: flex
  flex-wrap: wrap
  justify-content: center
  margin: 0 1rem

  app-card
    margin: 1rem
    display: flex
    flex-direction: column

.post-recipe-container
  display: flex
  justify-content: center
  margin-top: 2rem

.post-button
  width: 60px
  height: 60px
  border-radius: 50%
  position: fixed
  bottom: 20px
  right: 20px
  display: flex
  align-items: center
  justify-content: center
  font-size: 30px

  &:hover
    cursor: pointer

.custom-paginator
  display: flex
  justify-content: center
  margin-top: 1rem
  background-color: #fff8e1
  padding: 0.5rem
  border-radius: 5px
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1)

.custom-paginator .mat-paginator-outer-container
  display: flex
  justify-content: center

.custom-paginator .mat-paginator-page-size
  margin: 0 1rem

.custom-paginator .mat-paginator-range-label
  margin: 0 1rem

.custom-paginator .mat-paginator-icon-button
  color: #ff8c00

.custom-paginator .mat-paginator-icon-button:hover
  background-color: rgba(255, 140, 0, 0.1)
