<mat-toolbar class="navbar" color="primary">
  <button
    mat-icon-button
    class="icon"
    aria-label="Example icon-button with menu icon"
    (click)="drawer.toggle()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <img src="your-logo-url" alt="logo" />
  <span class="spacer"></span>
  <mat-form-field class="searchbar" appearance="fill">
    <mat-label>Search</mat-label>
    <input matInput [(ngModel)]="searchValue" />
  </mat-form-field>
</mat-toolbar>

<mat-drawer-container class="drawer-container">
  <mat-drawer #drawer class="drawer" mode="side" opened>
    <a mat-list-item routerLink="/home" routerLinkActive="active">
      <mat-icon matListIcon>home</mat-icon>
      <span matLine>Home</span>
    </a>
    <a mat-list-item routerLink="/recipes/favorites" routerLinkActive="active">
      <mat-icon matListIcon>favorite</mat-icon>
      <span matLine>Favorites</span>
    </a>
    <a mat-list-item routerLink="/recipes/profile" routerLinkActive="active">
      <mat-icon matListIcon>person</mat-icon>
      <span matLine>Profile</span>
    </a>
  </mat-drawer>

  <mat-drawer-content>
    <!-- MAIN CONTENT -->
  </mat-drawer-content>
</mat-drawer-container>
