<div class="profile-container" *ngIf="user">
  <div class="profile-header">
    <input
      type="file"
      accept="image/*"
      (change)="onFileSelected($event)"
      style="display: none"
      #fileInput
    />
    <img
      class="profile-image"
      [src]="user.photoURL || 'assets/user-default-profile-picture.png'"
      alt="Profile Image"
      (click)="fileInput.click()"
    />

    <h2 class="profile-name">{{ user.username }}</h2>
    <p class="profile-description">
      {{ user.description || "No description yet" }}
    </p>
    <button class="edit-button" mat-icon-button (click)="openUsernameDialog()">
      <mat-icon>edit</mat-icon>
      Edit Profile
    </button>
  </div>

  <div class="profile-tabs">
    <ul class="tab-list">
      <li
        class="tab-item"
        [class.active]="activeTab === 'recipes'"
        (click)="setActiveTab('recipes')"
      >
        Recipes
      </li>
      <li
        class="tab-item"
        [class.active]="activeTab === 'interactions'"
        (click)="setActiveTab('interactions')"
      >
        Interactions
      </li>
      <li
        class="tab-item"
        [class.active]="activeTab === 'yummies'"
        (click)="setActiveTab('yummies')"
      >
        Yummies
      </li>
    </ul>
    <div class="tab-content">
      <!-- Recipes Tab Content -->
      <div class="recipes-tab" *ngIf="activeTab === 'recipes'">
        <app-card
          *ngFor="let recipe of userRecipes"
          [id]="recipe.id"
          [name]="recipe.name"
          [imageUrl]="recipe.imageUrl"
          [description]="recipe.description"
          [ingredients]="recipe.ingredients"
          [instructions]="recipe.instructions"
          [upvotes]="recipe.upvotes"
          [downvotes]="recipe.downvotes"
          [bookmarkedBy]="recipe.bookmarkedBy"
          [user]="recipe.user"
          [loggedInUser]="user"
          (navigate)="toDetails($event)"
        ></app-card>
      </div>

      <!-- Interactions Tab Content -->
      <div class="interactions-tab" *ngIf="activeTab === 'interactions'">
        <div *ngFor="let comment of comments">
          <app-comment [comment]="comment" [user]="this.user"></app-comment>
        </div>
      </div>

      <!-- Yummies Tab Content -->
      <div class="yummies-tab" *ngIf="activeTab === 'yummies'">
        <app-card
          *ngFor="let recipe of upvotedRecipes"
          [id]="recipe.id"
          [name]="recipe.name"
          [imageUrl]="recipe.imageUrl"
          [description]="recipe.description"
          [ingredients]="recipe.ingredients"
          [instructions]="recipe.instructions"
          [upvotes]="recipe.upvotes"
          [downvotes]="recipe.downvotes"
          [bookmarkedBy]="recipe.bookmarkedBy"
          [user]="recipe.user"
          [loggedInUser]="user"
          (navigate)="toDetails($event)"
        ></app-card>
      </div>
    </div>
  </div>
</div>
