<div class="comment">
  <img [src]="comment.user.photoURL" alt="Profile Picture" (click)="goToProfile()" />
  <div class="comment-content">
    <p class="comment-username">{{ comment.user.username }}</p>
    <p class="comment-text">{{ comment.content }}</p>
    <div class="comment-actions">
      <button class="comment-action" (click)="upvote(this.user.uid)">
        <mat-icon>thumb_up</mat-icon>
      </button>
      <span class="vote-count">{{ comment.upvotes.length }}</span>
      <button class="comment-action" (click)="downvote(this.user.uid)">
        <mat-icon>thumb_down</mat-icon>
      </button>
      <span class="vote-count">{{ comment.downvotes.length }}</span>
      <button class="comment-action" (click)="openReplyDialog()">
        <mat-icon>reply</mat-icon>
      </button>
      <button *ngIf="comment.replies.length > 0" class="comment-action" (click)="toggleExpand()">
        <mat-icon>{{ expanded ? 'expand_less' : 'expand_more' }}</mat-icon>
      </button>
    </div>
    <div *ngIf="expanded" class="replies">
      <app-comment *ngFor="let reply of comment.replies" [comment]="reply" [user]="user"></app-comment>
    </div>
  </div>
</div>
