<ng-container class="spinner-container" *ngIf="isLoading">
  <mat-spinner class="loading-spinner"></mat-spinner>
</ng-container>

<ng-container *ngIf="!isLoading">
  <div class="recipe-details">
    <div *ngIf="recipe">
      <div *ngIf="!isEditable">
        <h1>{{ recipe.name }}</h1>
        <div>
          <h2>Description</h2>
          <p>{{ recipe.description }}</p>
        </div>

        <img [src]="recipe.imageUrl" alt="recipe image" />

        <div>
          <h2>Ingredients</h2>
          <p>{{ recipe.ingredients }}</p>
        </div>

        <div>
          <h2>Instructions</h2>
          <p>{{ recipe.instructions }}</p>
        </div>

        <div>
          <h2>Tags</h2>
          <mat-chip-set class="mat-chip-list-wrapper">
            <mat-chip-option class="mat-chip"
            [selected]="true" [selectable]="false" *ngFor="let tag of recipe.tags">{{ tag }}</mat-chip-option>
          </mat-chip-set>
        </div>

        <div>
          <h2>Created by</h2>
          <p (click)="toProfile(recipe.user.username)" class="username-link">{{ recipe.user.username }}</p>
        </div>
      </div>
      <div *ngIf="isEditable">
        <form [formGroup]="recipeForm">
          <mat-form-field class="mat-form-field">
            <input
              matInput
              placeholder="Name"
              formControlName="name"
              type="text"
              [(ngModel)]="recipe.name"
              placeholder="Recipe name"
            />
          </mat-form-field>
          <mat-form-field class="mat-form-field">
            <input
              matInput
              type="text"
              placeholder="Description"
              formControlName="description"
              [(ngModel)]="recipe.description"
              placeholder="Description"
            />
          </mat-form-field>
          <div class="form-field">
            <img *ngIf="imagePreviewUrl" [src]="imagePreviewUrl" alt="Image Preview" class="image-preview" />
            <label class="image-upload-label">
              <input
                multiple
                type="file"
                formControlName="imagePath"
                required
                (change)="onImageSelected($event)"
              />
              Choose Image
            </label>
            <mat-error
              class="mat-error"
              *ngIf="recipeForm.get('imagePath')!.hasError('required')"
            >
              Image is required
            </mat-error>
          </div>          
          <mat-form-field class="mat-form-field">
            <textarea
              matInput
              placeholder="Ingredients"
              formControlName="ingredients"
              [(ngModel)]="recipe.ingredients"
              placeholder="Ingredients"
              style="height: 200px"
            ></textarea>
          </mat-form-field>
          <mat-form-field class="mat-form-field">
            <textarea
              matInput
              placeholder="Instructions"
              formControlName="instructions"
              [(ngModel)]="recipe.instructions"
              placeholder="Instructions"
              style="height: 200px"
            ></textarea>
          </mat-form-field>

          <mat-form-field class="mat-form-field" appearance="outline">
            <mat-label class="mat-label">Tags</mat-label>
            <mat-chip-grid class="mat-chip-grid" #chipListbox>
              <mat-chip-option
                *ngFor="let tag of selectedTags"
                [selected]="true"
                (removed)="removeTag(tag)"
                class="mat-chip-option"
              >
                {{tag}}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip-option>
              <input
                class="mat-chip-input"
                placeholder="New tag..."
                formControlName="tags"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipListbox"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="addTag($event)"
                #tagInput
              />
            </mat-chip-grid>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectTag($event, tagInput)">
              <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
                {{tag}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

        </form>
      </div>

      <button
        *ngIf="recipe.user.uid === currentUserId"
        (click)="switchBetweenEditAndCancel()"
      >
        {{ isEditable ? "Cancel" : "Edit" }}
      </button>
      <button
        *ngIf="recipe.user.uid === currentUserId && isEditable"
        (click)="updateRecipe()"
      >
        Save
      </button>
      <button
        *ngIf="recipe.user.uid === currentUserId"
        (click)="deleteRecipe()"
      >
        Delete
      </button>
    </div>

    <div class="comment-section">
      <h2>Comments</h2>
      <div *ngFor="let comment of comments">
        <app-comment [comment]="comment" [user]="this.user"></app-comment>
      </div>

      <form [formGroup]="commentForm" (ngSubmit)="addComment()" class="comment-form">
        <mat-form-field class="mat-form-field">
          <textarea
            matInput
            placeholder="Add a comment"
            rows="4"
            formControlName="content"
          ></textarea>
          <mat-error *ngIf="commentForm.get('content')?.hasError('required')"
            >Comment is required</mat-error>
        </mat-form-field>
        <button mat-button type="submit" class="comment-button">Add Comment</button>
      </form>
    </div>
  </div>
</ng-container>
