<div class="favorites-container">
  <h1>My Favorite Recipes</h1>

  <div class="recipe-list">
    <app-card
      *ngFor="let recipe of favoriteRecipes"
      [id]="recipe.id"
      [name]="recipe.name"
      [imageUrl]="recipe.imageUrl"
      [description]="recipe.description"
      [ingredients]="recipe.ingredients"
      [instructions]="recipe.instructions"
      [upvotes]="recipe.upvotes"
      [downvotes]="recipe.downvotes"
      [user]="recipe.user"
      [loggedInUser]="user"
    ></app-card>
  </div>
</div>
